/* Here are the styles that makes the template responsive */

@media only screen and (max-width: 768px) {
  .map{position: inherit; height: 400px; width: 100%; display: block;}
  .sidepanel{
    left: 0px;
    width: 45%;
    height: 90px;
  }
  .sidepanel .wrapper .subheader
  {
    margin-top: -95px;
  }
}

@media only screen and (max-width: 480px) {
  .map {height: 300px;}
}
